<StackLayout class="main-container">
    <Label class="main-label" text="Login"></Label>
    <TextField hint="Email Address" keyboardType="email" returnKeyType="next" (returnPress)="focusPassword()" [(ngModel)]="user.email" [isEnabled]="!isAuthenticating" autocorrect="false" autocapitalizationType="none" [class.light]="!isLoggingIn" row="0"></TextField>
    <TextField #password hint="Password" secure="true" returnKeyType="done" (returnPress)="submit()" [(ngModel)]="user.password" [isEnabled]="!isAuthenticating" [class.light]="!isLoggingIn" row="1"></TextField>
    <ActivityIndicator [busy]="isAuthenticating" rowSpan="2"></ActivityIndicator>
    <Button [text]="isLoggingIn ? 'Login' : 'Sign up'" [isEnabled]="!isAuthenticating" row="2" class="submit-button" (tap)="submit()"></Button>
    <!--<StackLayout #signUpStack class="sign-up-stack" translateY="50">
        <Label text="Forgot password?"></Label>
    </StackLayout>-->
</StackLayout>